# Ignore all, unignore all with extensions, unignore all dirs.
*
!*.*
!*/
!list

# Executables
*.exe
*.app
*.sh
*.gitignore

# Temp Runner
/Contest
/Codeforces/contest
/Atcoder/contest
temp.c
temp.cpp
temp2.cpp
temp.exe

# Vim
*.swo
*.swp
